.header-top {
  background-color: $headerBgd;
  height: $heightNavInfo;
  ul {
    height: $heightNavInfo;
    @include flex (row, flex-end , center);
    list-style: none;
    .li-box {
      // width: 150px;
      padding: 0 15px;
      text-align: center;
      i {
        color: blue;
      }
      a {
        text-decoration: none;
        color: white;
      }
    }
  }

}

.header-bottom {
  height: $heightNavInfo;
  background-color: pink;
}
