header {
  background-color: $headerBgd;
  .header-top {
    ul {
      @include flex (row, flex-end , center);
      @include headerListStyle ($heightNavInfo);
      .li-box {
        @include liBoxAlignPad;
        i {
          color: #009cff;
        }
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  .header-bottom {
    ul {
      @include flex (row, center , center);
      @include headerListStyle ($heightNavInfo);
      .li-box {
        @include liBoxAlignPad;
        a {
          text-decoration: none;
          color: white;
        }
    }
   }
  }
}
