@mixin clearfix {
  content: '';
  display: table;
  clear: both;
}
//in prog
// @mixin floatContainer {
//   float: left;
// }

@mixin flex ($flexDirection,$justContent,$alignItems){
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justContent;
  align-items: $alignItems;
}

@mixin headerListStyle ($height){
  text-decoration: none;
  height: $height;
}

@mixin liBoxAlignPad {
  padding: 0 15px;
  text-align: center;
}

@mixin btn {
  border: none;
  cursor: pointer;
}
